.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: lightblue;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.napps-finances-logo-container {
    margin-left: 1rem;
    margin-right: 5rem;
}

.napps-finances-logo {
    margin-left: 2rem;
    width: 4rem;
}

.header-middle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-right {
    margin-right: 2rem;
}